ion-fab-list {
  ion-fab-button {
    &::before {
      position: absolute;
      right: 53px;
      top: 12px;
      cursor: pointer;
    }

    &:nth-child(1)::before {
      content: "Create your Own ";
    }

    &:nth-child(2)::before {
      content: "Add from Discover";
    }

    &:nth-child(3)::before {
      content: "Add from Recommended";
    }
  }
}
