.xp-chat {
  // --background: transparent;
  height: 100%;

  .chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: transparent;
  }

  .luxe-toolbar {
    --background: rgba(30, 30, 45, 0.95);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}