.feature-request {
  ion-card {
    margin-bottom: 20px;
  }

  form {
    margin-top: 20px;
  }

  ion-item {
    --padding-start: 0;
    margin-bottom: 10px;
  }

  .vote-container {
    display: flex;
    align-items: center;
    
    ion-button {
      --padding-start: 8px;
      --padding-end: 8px;
      margin-right: 5px;
    }
    
    span {
      font-weight: bold;
      color: var(--ion-color-primary);
    }
  }
}
