@import "@/styles";
@import "@/theme";

// .ion-app moved to @/styles/_app.scss
@keyframes slide {
  from {
    background-position: 0 0, 30px 30px;
  }

  to {
    background-position: 0 0, -30px -30px;
  }
}

ion-app {
  .fullscreen {
    --width: 100% !important;
    --height: 100% !important;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 24em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }

  to {
    border-right-color: transparent;
  }
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

.full-width {
  width: 100%;
}
.equipment,
.todays-achievements,
.info,
.items {
  ion-buttons {
    display: flex;
    flex-wrap: wrap;

    ion-button {
      width: calc(20% - 1em);
      margin: 0.5em;
    }
  }
}

.rpg-box {
  ion-toolbar {
    --background: #3d3c55;
    // background-color: #280828;
  }

  .searchbar-input,
  ion-item,
  input,
  ion-input,
  ion-select,
  ion-searchbar,
  ion-content,
  ion-footer {
    --background: #3d3c55 !important;
    --color: #e7e6b3 !important;
    --placeholder-color: #e7e6b3 !important;
    --icon-color: var(--ion-color-contrast) !important;
    background: #3d3c55 !important;
    color: #e7e6b3 !important;
  }

  // ion-content, ion-footer{
  //   --background: #3d3c55 !important;
  //   --color: #e7e6b3 !important;
  //   --placeholder-color: #e7e6b3 !important;
  //   --icon-color: var(--ion-color-contrast) !important;
  //   background:  #3d3c55  !important;
  //   color: #e7e6b3 !important
  // }

  ion-card {
    overflow: visible;

    ion-card-title {
      text-transform: uppercase;
      // position: absolute;
      // top: -15px;
      color: var(--ion-color-primary);
      padding: 1px 5px;
      font-size: 15px;
      // background-color: #280828;
      background-color: #3d3c55;
    }

    &.todays-achievements {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
      justify-content: center;
      align-items: center;
      height: 110px;

      i {
        margin: 0.45em;
      }
    }

    &.status {
      i {
        width: calc((100% / 6) - 0.5em);
        margin: 0.25em;
      }
    }

    &.todays-achievements {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  ion-modal {
    --background: transparent;

    ion-content {
      --background: transparent;
    }
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: orange;
  }
}

.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
