@import "_fonts";

@mixin earthboundBox {
  --ion-color-primary: #e7e6b3;
  --ion-color-primary-rgb: 17, 23, 77;
  --ion-color-primary-contrast: #383838;
  --ion-color-primary-contrast-rgb: 56, 56, 56;
  --ion-color-primary-shade: #dcd93b;
  --ion-color-primary-tint: #b9dc3b;

  --ion-color-step-850: #e7e6b3;
  font-family: 'Apple Kid';
  background-color: #280828;
  color: #e7e6b3;
  padding: 5px 3px;
  border-radius: 1px;
  transform: translateY(0);
  transition: transform linear 150ms;
  box-shadow:
    0 0 0 5px #383050,
    /* dark grey */
    0 0 0 10px #68d0b8,
    /* minty blue */
    0 0 0 12px #f7e8a8,
    /* white */
    0 0 0 15px #3d3c55;
  /* black */
  --ion-safe-area-top: 85px;
  --background: #280828;
  // background-color: #280828;
  --color: #e7e6b3;
  --padding: 5px 3px;
  --border-radius: 1px;
  --transform: translateY(0);
  --transition: transform linear 150ms;
  --box-shadow:
    0 0 0 5px #383050,
    0 0 0 10px #68d0b8,
    0 0 0 12px #f7e8a8,
    0 0 0 15px #3d3c55;
  --button-color: #e7e6b3;

  ion-list {
    background: transparent;
    --background: transparent;

    ion-item {
      --ion-item-background: transparent;
      --color: var(--ion-color-primary);
    }
  }

  ion-accordion {
    --ion-background-color: transparent;

    ion-list {
      background: transparent;

      ion-item {
        --ion-item-background: transparent;
        --color: var(--ion-color-primary);
      }
    }

  }

  ion-card-content{
    font-size: 17pt;
  }

  ion-button {
    --background: transparent;
    i{
      // margin-right: 5px;
      // display: inline-block;
      width: 35px;
      font-size: 20px;
    }

    &::part(native) {
      overflow: visible;

      font-family: 'Apple Kid';
      font-size: 20pt;
      text-transform: capitalize;
      // padding-left: 5px;


      &:hover::before {
        content: '';
        position: absolute;
        left: -10px;
        top: 10px;
        width: 0;
        border-color: yellow;
        height: 0;
        border-top: 0.3rem solid transparent;
        border-bottom: 0.3rem solid transparent;
        border-left: 0.3rem solid var(--ion-color-primary);
      }
    }
  }
}

ion-app {
  &#earthbound {
    font-family: 'Apple Kid';

    ion-title{
      font-family: Twoson;
      
    }

    ion-card-title{
      font-family: 'StatusPlz';
      font-weight: normal;
      // font-style: italic;
      font-size: 11pt;
      text-transform: capitalize;
    }

    ion-menu {
      ion-content {}
    }

    ion-toolbar {
      &.rpg-box {
        margin-bottom: 1em;
        --background: #280828;
        @include earthboundBox();
      }
    }

    ion-card {
      @include earthboundBox();
      margin: 1.25em;
      width: calc(100% - 2.5em);
      // min-width: 5em;
      display: inline-block;
      position: relative;
      vertical-align: top;

      overflow: visible;
      ion-card-title {
        // text-transform: uppercase;
        position: absolute;
        top: -15px;
        color: var(--ion-color-primary);
        padding: 1px 5px;
        font-size: 15px;
        background-color: #280828;
      }
    }

    ion-modal {
      --background: transparent;
      --box-shadow: none;

      &.user-profile {
        font-size: 1.2rem;
        padding: 2em;
        // font-family: sans-serif;
        background-color: #68a8d8;
        background-image:
          linear-gradient(45deg,
            #80d890 25%,
            transparent 25%,
            transparent 75%,
            #80d890 75%),
          linear-gradient(45deg,
            #80d890 25%,
            transparent 25%,
            transparent 75%,
            #80d890 75%);
        background-size: 60px 60px;
        background-position: 0 0, 30px 30px;
        animation: slide 4s infinite linear;

        ion-content {
          --background: transparent;
          padding: 10px;

          ion-col {
            span {
              float: right;
              width: 32px;
              height: 48px;
              margin-right: 1.5em;
              display: inline-block;
              background-size: auto;
              background-blend-mode: multiply;
              background-image: url('http://www.videogamesprites.net/Earthbound/Party/Ness/Ness%20-%20Walk%20(Front).gif')
            }

            ion-card {
              width: calc(100% - 35px);

              &.favorite-food {

                ion-card-content {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 1em;
                  flex-wrap: wrap;
                }

              }
            }
          }
        }
      }

      ion-content {
        --background: transparent;
      }
    }

    ion-toast {
      --ion-safe-area-top: 100px;
      --background: #280828;
      // background-color: #280828;
      --color: #e7e6b3;
      --padding: 5px 3px;
      --border-radius: 1px;
      --transform: translateY(0);
      --transition: transform linear 150ms;
      // --height: 35px;
      --box-shadow:
        0 0 0 5px #383050,
        /* dark grey */
        0 0 0 10px #68d0b8,
        /* minty blue */
        0 0 0 12px #f7e8a8,
        /* white */
        0 0 0 15px #3d3c55;
      /* black */
      --width: 90%;
      --button-color: #e7e6b3;

      &::part(header) {
        font-weight: 800;
        text-transform: capitalize;
        overflow: hidden;
      }

      &::part(header),
      &::part(message) {
        font-family: "Apple Kid";

        &::before {
          content: "\2022";
          margin-right: 0.35em
        }

      }
    }
  }

  &#chronoTrigger {

    ion-card {
      border: solid 1px #424542;
      box-shadow: 1px 1px #e7dfe7,
        -1px -1px #e7dfe7,
        1px -1px #e7dfe7,
        -1px 1px #e7dfe7,
        0 -2px #9c9a9c,
        -2px 0 #7b757b,
        0 2px #424542;
      width: calc(100% - 2em);
      padding: 5px 10px;
      margin: 1em;

      background: #04009d;
      background: -moz-linear-gradient(top, #04009d 0%, #06004d 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #04009d), color-stop(100%, #06004d));
      background: -webkit-linear-gradient(top, #04009d 0%, #06004d 100%);
      background: -o-linear-gradient(top, #04009d 0%, #06004d 100%);
      background: -ms-linear-gradient(top, #04009d 0%, #06004d 100%);
      background: linear-gradient(to bottom, #04009d 0%, #06004d 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#04009d', endColorstr='#06004d', GradientType=0);


      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;

      * {
        // color: #eff1ff;
        text-shadow: 2px 2px #212421,
          1px 1px #212021;
        font-size: 20px;
        font-weight: normal;
        // margin: 5px 0;
      }
    }

    ion-modal {
      --background: transparent;
      --box-shadow: none;
    }

    ion-toast {

      --ion-safe-area-top: 85px;
      --border: solid 1px #424542;
      --box-shadow: 1px 1px #e7dfe7,
        -1px -1px #e7dfe7,
        1px -1px #e7dfe7,
        -1px 1px #e7dfe7,
        0 -2px #9c9a9c,
        -2px 0 #7b757b,
        0 2px #424542;
      --width: 500px;
      --padding: 5px 10px;
      --margin: 50px 50px;

      --background: #04009d;
      --background: -moz-linear-gradient(top, #04009d 0%, #06004d 100%);
      --background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #04009d), color-stop(100%, #06004d));
      --background: -webkit-linear-gradient(top, #04009d 0%, #06004d 100%);
      --background: -o-linear-gradient(top, #04009d 0%, #06004d 100%);
      --background: -ms-linear-gradient(top, #04009d 0%, #06004d 100%);
      --background: linear-gradient(to bottom, #04009d 0%, #06004d 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#04009d', endColorstr='#06004d', GradientType=0);

      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      --border-radius: 7px;

      * {
        color: #eff1ff;
        text-shadow: 2px 2px #212421,
          1px 1px #212021;
        // font-family: Verdana, sans-serif;
        // font-size: 20px;
        // font-weight: normal;
        // margin: 5px 0;
      }
    }

  }
}



@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 24em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, .75);
  }

  to {
    border-right-color: transparent;
  }
}

ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

.full-width {
  width: 100%;
}
.equipment,
.todays-achievements,
.info,
.items {
  ion-buttons {
    display: flex;
    flex-wrap: wrap;

    ion-button {
      width: calc(20% - 1em);
      margin: .5em;
    }
  }
}
.fab-user,
.equipment,
.todays-achievements,
.info,
.items {
  i {
    --xp-color-red: #BD0C00;
    --xp-color-blue: #4870D0;
    --xp-color-green: #1FA627;
    --xp-color-brown: #BE5C00;
    --xp-color-yellow: #DE9A00;
    --xp-color-white: white;
    --xp-color-gray: #A8A8A8;
    --xp-color-lightBlue: skyblue;

    &.fa- {
      &bow-arrow {
        --fa-primary-color: var(--xp-color-white);
        --fa-secondary-color: var(--xp-color-brown);
        --fa-secondary-opacity: 1
      }

      &wind {
        --fa-primary-color: white;
        --fa-secondary-color: var(--xp-color-lightBlue);
        --fa-secondary-opacity: 0.9
      }

      &expand-alt {
        --fa-primary-color: var(--xp-color-white);
        --fa-secondary-color: var(--xp-color-red);
        --fa-secondary-opacity: 1
      }

      &bomb {
        --fa-primary-color: var(--xp-color-blue);
        --fa-secondary-color: var(--xp-color-white);
        --fa-secondary-opacity: 1
      }

      &compass {
        --fa-primary-color: var(--xp-color-lightBlue);
        --fa-secondary-color: var(--xp-color-blue);
        --fa-secondary-opacity: 1
      }

      &sack {
        --fa-primary-color: var(--xp-color-gray);
        --fa-secondary-color: var(--xp-color-brown);
        --fa-secondary-opacity: 1
      }

      &wand-magic {
        &.fire {
          --fa-primary-color: var(--xp-color-red);
          --fa-secondary-color: var(--xp-color-yellow);
          --fa-secondary-opacity: 1
        }

        &.ice {
          --fa-primary-color: var(--xp-color-blue);
          --fa-secondary-color: var(--xp-color-lightBlue);
          --fa-secondary-opacity: 1
        }
      }

      &flame {
        --fa-primary-color: var(--xp-color-red);
        --fa-secondary-color: var(--xp-color-yellow);
        --fa-secondary-opacity: 1
      }

      &bolt {
        --fa-primary-color: var(--xp-color-yellow);
        --fa-secondary-color: var(--xp-color-yellow);
        --fa-secondary-opacity: .6
      }

      &hat-wizard {
        --fa-primary-color: var(--xp-color-blue);
        --fa-secondary-color: var(--xp-color-yellow);
        --fa-secondary-opacity: 1
      }

      &diamond {
        --fa-primary-color: var(--xp-color-lightBlue);
        --fa-secondary-color: var(--xp-color-blue);
        --fa-secondary-opacity: 1
      }

      &wave-sine {
        --fa-primary-color: var(--xp-color-yellow);
        --fa-secondary-color: var(--xp-color-green);
        --fa-secondary-opacity: 1
      }

      &flashlight {
        --fa-primary-color: var(--xp-color-yellow);
        --fa-secondary-color: var(--xp-color-red);

        --fa-secondary-opacity: 1
      }

      &hammer-war {
        --fa-primary-color: var(--xp-color-gray);
        --fa-secondary-color: var(--xp-color-brown);
        --fa-secondary-opacity: 1
      }

      &waveform {
        --fa-primary-color: var(--xp-color-yellow);
        --fa-secondary-color: var(--xp-color-blue);
        --fa-secondary-opacity: 1
      }

      &bug {
        --fa-primary-color: var(--xp-color-red);
        --fa-secondary-color: var(--xp-color-green);
        --fa-secondary-opacity: 1
      }

      &wallet{
        --fa-primary-color: var(--xp-color-brown);
        --fa-secondary-color: var(--xp-color-yellow);
        --fa-secondary-opacity: 1
      }

      &backpack{
        --fa-primary-color: var(--xp-color-gray);
        --fa-secondary-color: var(--xp-color-brown);
        --fa-secondary-opacity: 1
      }

      &ankh{
        --fa-primary-color: var(--xp-color-yellow);
        --fa-secondary-color: var(--xp-color-brown);
        --fa-secondary-opacity: 1

      }

      &book-spells {
        --fa-primary-color: var(--ion-color-tertiary);
        --fa-secondary-color: var(--xp-color-white);
        --fa-secondary-opacity: 1
      }

      &flask-potion {
        --fa-primary-color: var(--xp-color-white);
        --fa-secondary-color: var(--xp-color-blue);
        --fa-secondary-opacity: 1
      }

      &staff {
        &.quest{

          --fa-primary-color: var(--xp-color-brown);
          --fa-secondary-color: var(--xp-color-green);
          --fa-secondary-opacity: 1
        }
        &.fire {
          --fa-primary-color: var(--xp-color-red);
          --fa-secondary-color: var(--xp-color-yellow);
          --fa-secondary-opacity: 1
        }

        &.ice {
          --fa-primary-color: var(--xp-color-blue);
          --fa-secondary-color: var(--xp-color-lightBlue);
          --fa-secondary-opacity: 1
        }
      }

      &shield-virus {
        --fa-primary-color: var(--xp-color-lightBlue);
        --fa-secondary-color: var(--xp-color-blue);
        --fa-primary-opacity: 1;
        --fa-secondary-opacity: 1
      }

      &flux-capacitor {
        --fa-primary-color: var(--xp-color-yellow);
        --fa-secondary-color: var(--xp-color-red);
        --fa-primary-opacity: 1;
        // --fa-secondary-opacity: 1
      }

      &moon-stars {
        --fa-primary-color: var(--xp-color-lightBlue);
        --fa-secondary-color: var(--xp-color-white);
        --fa-primary-opacity: 1;
        --fa-secondary-opacity: 1
      }

      &hood-cloak {
        --fa-primary-color: var(--xp-color-white);
        --fa-secondary-color: var(--xp-color-red);
        --fa-primary-opacity: .5;
        --fa-secondary-opacity: 1
      }

      &portal-enter {
        --fa-primary-color: var(--xp-color-yellow);
        --fa-secondary-color: var(--xp-color-blue);
        --fa-secondary-opacity: 1
      }

      &tint {
        --fa-primary-color: var(--xp-color-lightBlue);
        --fa-secondary-color: var(--xp-color-blue);
        --fa-secondary-opacity: 1 --fa-primary-opacity:.9
      }

      &whistle {
        --fa-primary-color: var(--xp-color-white);
        --fa-secondary-color: var(--xp-color-blue);
        --fa-secondary-opacity: 1
      }

      &hand-holding-seedling{
        --fa-primary-color: var(--xp-color-green);
      }
    }
  }
}

.rpg-box {

  ion-card {
    overflow: visible;

    ion-card-title {
      text-transform: uppercase;
      position: absolute;
      top: -15px;
      color: var(--ion-color-primary);
      padding: 1px 5px;
      font-size: 15px;
      background-color: #280828;
    }


    &.todays-achievements {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
      justify-content: center;
      align-items: center;
      height: 110px;

      i {
        margin: 0.45em;
      }

    }


    &.status {
      i {
        width: calc((100% / 6) - .5em);
        margin: .25em;
      }
    }



    &.todays-achievements {
      display: flex;
      justify-content: center;
      align-items: center;

    }

  }

  ion-modal {
    --background: transparent;

    ion-content {
      --background: transparent;
    }
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: orange;
  }
}

.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}