:root{
  --color-light: #332633;
  --color-medium: #301c30;
  --color-dark: #280828;
  --color-darkest:  #220222;
  --animation-speed: 4s;
  --animation-loop: infinite;
}

.accessory-shop{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  contain: layout size style;

  ion-badge {
    position: absolute;
    bottom: -20px;
    width: 60%;
    margin: auto auto;
    left: 20%;
  }

  ion-card {
    &.item {
      margin: 2em;
      // 100% view height - header - footer toolbar - padding / 2 
      // height: calc((100vh - 120px - 110px - 50px - 5em) / 2);
      border-radius: 0 0 65px 65px;
      box-shadow: 
      rgb(0 0 0 / 20%) 0px 3px 1px -2px,
      rgb(0 0 0 / 14%) 0px 2px 2px 0px,
      rgb(0 0 0 / 12%) 0px 1px 5px 0px;

      ion-img {
        img {
          // transform: scale(1.15);
          margin: 1em auto;
          object-fit: fill;
          max-width: 95%;
          // max-height: 50px;
        }
      }
    }

    ion-button {
      --background: transparent;
      --color: var(--color);
      display: flex;
      margin: .5em auto 0;
      width: 60%;
      height: 30px;
      i{
        // margin-right: 5px;
        // display: inline-block;
        // width: 35px;
        font-size: 20px;
      }

      &::part(native) {
        overflow: visible;

        font-family: 'Apple Kid';
        font-size: 20pt;
        text-transform: capitalize;
        // padding-left: 5px;


        &:hover::before {
          content: '';
          position: absolute;
          left: -10px;
          top: 10px;
          width: 0;
          border-color: yellow;
          height: 0;
          border-top: 0.3rem solid transparent;
          border-bottom: 0.3rem solid transparent;
          border-left: 0.3rem solid var(--ion-color-primary);
        }
      }
    }
  }

}
