:root{
  --color-light: var(--ion-color-primary-tint);
  --color-medium: var(--ion-color-primary-shade);
  --color-dark: var(--ion-color-primary);
  --color-darkest: var(--ion-color-primary-shade);
  --animation-speed: 4s;
  --animation-loop: infinite;
}

.my-foods{
  ion-card {
    &.item {
      margin: 1em;
      // 100% view height - header - footer toolbar - padding / 2 
      height: calc((100vh - 120px - 110px - 50px - 5em) / 2);
      border-radius: 0 0 65px 65px;
      box-shadow: 
      rgb(0 0 0 / 20%) 0px 3px 1px -2px,
      rgb(0 0 0 / 14%) 0px 2px 2px 0px,
      rgb(0 0 0 / 12%) 0px 1px 5px 0px;

      ion-img {
        margin: 0 auto; // Center image, remove top/bottom margin if header has padding
        width: 100%; // Make image fill card width
        height: 120px; // Give image a fixed height
        object-fit: cover; // Cover the area, cropping if needed
        // transform: scale(1.15); // Removed scaling for potentially better layout
      }
    }
  }

  // Add some padding below the category selector
  ion-item[lines="full"] {
    margin-bottom: 0.5em;
  }

  // Adjust card content padding if needed
  ion-card-content {
    // padding-top: 0.5em; // Example adjustment
    p.ion-text-wrap {
      min-height: 3em; // Ensure space for description
      font-size: 0.8em; // Slightly smaller text
    }
  }

}
