.xp-settings-home{
  ion-content{
    --background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    ion-thumbnail{
      max-width: 65px !important;
      min-width: 55px !important;
      min-height: 55px !important;
    }
  }
  ion-label{
    @apply mx-4
  }
}
