.user-profile {
  display: flex;
  flex-direction: column;
  
  ion-content {
    ion-card {
      margin: 1em;
      border-radius: 10px;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    }
  }

  ion-label {
    text-transform: capitalize;
  }

  ion-card-header {
    text-align: center;
    
    ion-avatar {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      border: 3px solid var(--ion-color-primary);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
  }

  ion-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
  }

  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .text-center {
    text-align: center;
  }

  .mt-2 {
    margin-top: 0.5rem;
  }

  ion-accordion {
    margin-bottom: 5px;
  }
}
