.user-profile{
  display: flex;
  flex-direction: column;
  

  
  ion-content{
    background-color: var(--ion-color-primary-contrast);
    ion-card{
      margin: 1em
    }
    ion-grid{
      background-color:#280828;
    }
  }

  ion-label{
    text-transform: capitalize;
  }
}
