.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--ion-color-medium);

  ion-icon {
    font-size: 64px;
    margin-bottom: 16px;
  }

  h2 {
    margin-bottom: 8px;
  }

  p {
    text-align: center;
    max-width: 300px;
  }
}

ion-fab-list {
  ion-fab-button {
    &::before {
      position: absolute;
      right: 53px;
      top: 12px;
      cursor: pointer;
      white-space: nowrap;
    }

    &:nth-child(1)::before {
      content: "Create New Ability";
    }

    &:nth-child(2)::before {
      content: "Add from Presets";
    }
  }
}

ion-modal {
  --height: 90%;
  --width: 90%;
  --max-width: 700px;
  --border-radius: 16px;
}

.transparent-content {
  --background: transparent;
  background: transparent;
}
