// Earthbound Theme Variables

// Fonts
$eb-font-primary: "Apple Kid"; // Main body text, list items, toasts
$eb-font-title: "Twoson"; // Page titles (ion-title)
$eb-font-status: "StatusPlz"; // Card titles, status elements

// Colors
$eb-color-dark-purple: #280828;
$eb-color-medium-purple: #383050;
$eb-color-slate: #3d3c55;
$eb-color-sky-blue: #68a8d8;
$eb-color-mint-green: #80d890;
$eb-color-minty-blue: #68d0b8;
$eb-color-cream: #e7e6b3;
$eb-color-pale-yellow: #f7e8a8;

// Mixins
@mixin eb-box() {
  border-radius: 1px;
  box-shadow: 0 0 0 5px $eb-color-medium-purple, 0 0 0 10px $eb-color-minty-blue,
    0 0 0 12px $eb-color-pale-yellow, 0 0 0 16px $eb-color-slate;
  background-color: $eb-color-dark-purple;
  color: $eb-color-cream;
}

@mixin eb-checkerboard-bg {
  background-color: $eb-color-sky-blue;
  background-image: linear-gradient(
      45deg,
      $eb-color-mint-green 25%,
      transparent 25%,
      transparent 75%,
      $eb-color-mint-green 75%
    ),
    linear-gradient(
      45deg,
      $eb-color-mint-green 25%,
      transparent 25%,
      transparent 75%,
      $eb-color-mint-green 75%
    );
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
  animation: slide 4s infinite linear;
}

@keyframes slide {
  0% {
    background-position: 0 0, 30px 30px;
  }
  100% {
    background-position: 60px 60px, 90px 90px;
  }
}

// Earthbound Theme
ion-app {
  &#earthbound {
    font-family: $eb-font-primary;

    ion-content {
      &#bg-slide {
        --background: transparent;
        height: 100vh;
        background-color: #68a8d8;
        background-image: linear-gradient(
            45deg,
            #80d890 25%,
            transparent 25%,
            transparent 75%,
            #80d890 75%
          ),
          linear-gradient(
            45deg,
            #80d890 25%,
            transparent 25%,
            transparent 75%,
            #80d890 75%
          );
        background-size: 60px 60px;
        background-position: 0 0, 30px 30px;
        animation: slide 4s infinite linear;
      }
    }
    // Typography
    ion-title {
      font-family: $eb-font-title;
    }

    ion-card-title {
      font-family: $eb-font-status;
      font-weight: normal;
      font-size: 15pt;
      text-transform: capitalize;
    }

    // List styling
    ion-list {
      list-style-type: circle;
    }

    ion-item {
      font-family: $eb-font-primary;
      font-size: 100%;

      &::before {
        content: "";
        position: absolute;
        left: -0.3em;
        top: 0.4em;
        width: 0;
        height: 0;
        border-top: 0.3rem solid transparent;
        border-bottom: 0.3rem solid transparent;
        border-left: 0.3rem solid $eb-color-cream;
      }
    }

    // Content areas
    ion-content {
      &#container,
      &.bg-slide {
        @include eb-checkerboard-bg();
      }
    }

    // Toolbar styling
    ion-toolbar {
      &.rpg-box {
        margin-bottom: 1em;
        --background: $eb-color-slate;
        @include eb-box();
      }
    }

    // Card styling
    ion-card {
      @include eb-box();
      margin: 1.25em;
      width: calc(100% - 2.5em);
      display: inline-block;
      position: relative;
      vertical-align: top;
      overflow: visible;

      ion-thumbnail {
        max-width: 100%;
        min-width: 200px;
        min-height: 200px;
        margin: auto;
      }

      ion-skeleton-text {
        --border-radius: 9999px;
        --background: rgba(var(--ion-color-primary-rgb), 0.65);
        --background-rgb: 255, 255, 255;
      }

      ion-card-title {
        color: var(--ion-color-primary);
        padding: 1px 5px;
        font-size: 20px;
        background-color: $eb-color-medium-purple;
      }
    }

    // Modal styling
    ion-modal {
      --background: transparent;
      --box-shadow: none;

      ion-content {
        --background: transparent;
      }

      &.user-profile {
        font-size: 1.2rem;
        padding: 2em;
        @include eb-checkerboard-bg();

        ion-content {
          padding: 10px;

          ion-col {
            span {
              float: right;
              width: 32px;
              height: 48px;
              margin-right: 1.5em;
              display: inline-block;
              background-size: auto;
              background-blend-mode: multiply;
              background-image: url("http://www.videogamesprites.net/Earthbound/Party/Ness/Ness%20-%20Walk%20(Front).gif");
            }

            ion-card {
              width: calc(100% - 35px);

              &.favorite-food {
                ion-card-content {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 1em;
                  flex-wrap: wrap;
                }
              }
            }
          }
        }
      }
    }

    // Toast notifications
    ion-toast {
      --ion-safe-area-top: 100px;
      --background: $eb-color-dark-purple;
      --color: $eb-color-cream;
      --padding: 5px 3px;
      --border-radius: 1px;
      --transform: translateY(0);
      --transition: transform linear 150ms;
      // Interpolation is needed here because the value is a complex list
      --box-shadow: 0 0 0 5px #{$eb-color-medium-purple},
        0 0 0 10px #{$eb-color-minty-blue}, 0 0 0 12px #{$eb-color-pale-yellow},
        0 0 0 16px #{$eb-color-slate};
      --width: 90%;
      --button-color: $eb-color-cream;

      &::part(header) {
        font-weight: 800;
        text-transform: capitalize;
        overflow: hidden;
      }

      &::part(header),
      &::part(message) {
        font-family: $eb-font-primary;
        font-size: x-large;

        &::before {
          content: "\2022";
          margin-right: 0.35em;
        }
      }
    }
  }
}
