/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** XP CSS Variables **/
:root {
  --xp-color-black: #111111;
  --xp-color-red: #bd0c00;
  --xp-color-blue: #4870d0;
  --xp-color-blueLight: #4a90e2;
  --xp-color-purple: #6f2c91;
  --xp-color-green: #1fa627;
  --xp-color-brown: #be5c00;
  --xp-color-yellow: #de9a00;
  --xp-color-white: white;
  --xp-color-gray: #a8a8a8;
  --xp-color-pink: #ffc0cb;
  --xp-color-lightBlue: skyblue;

  /** Ionic CSS Variables **/
  /** primary **/
  --ion-color-primary: #11174d;
  --ion-color-primary-rgb: 17, 23, 77;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0f1444;
  --ion-color-primary-tint: #292e5f;

  /** secondary **/
  --ion-color-secondary: #47115a;
  --ion-color-secondary-rgb: 71, 17, 90;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #3e0f4f;
  --ion-color-secondary-tint: #59296b;

  /** tertiary **/
  --ion-color-tertiary: #007bff;
  --ion-color-tertiary-rgb: 0, 123, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #006ce0;
  --ion-color-tertiary-tint: #1a88ff;

  /** success **/
  --ion-color-success: var(--xp-color-green);
  --ion-color-success-rgb: 0, 158, 63;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #008b37;
  --ion-color-success-tint: #1aa852;
  /** warning **/

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: var(--xp-color-red);
  --ion-color-danger-rgb: 194, 0, 26;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #ab0017;
  --ion-color-danger-tint: #c81a31;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** green **/
  --ion-color-green: #00af2c;
  --ion-color-green-rgb: 0, 175, 44;
  --ion-color-green-contrast: #000000;
  --ion-color-green-contrast-rgb: 0, 0, 0;
  --ion-color-green-shade: #007c1f;
  --ion-color-green-tint: #299945;

  /* gold */
  --ion-color-gold: #ffd700;
  --ion-color-gold-rgb: 255, 215, 0;
  --ion-color-gold-contrast: #000000;
  --ion-color-gold-contrast-rgb: 0, 0, 0;
  --ion-color-gold-shade: #e0bd00;
  --ion-color-gold-tint: #ffdb1a;

  /* gold */
  --ion-color-gold: #ffd700;
  --ion-color-gold-rgb: 255, 215, 0;
  --ion-color-gold-contrast: #000000;
  --ion-color-gold-contrast-rgb: 0, 0, 0;
  --ion-color-gold-shade: #e0bd00;
  --ion-color-gold-tint: #ffdb1a;
}
.ion-color-green {
  --ion-color-base: var(--ion-color-green) !important;
  --ion-color-base-rgb: var(--ion-color-green-rgb) !important;
  --ion-color-contrast: var(--ion-color-green-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-green-shade) !important;
  --ion-color-tint: var(--ion-color-green-tint) !important;
}
.ion-color-gold {
  --ion-color-base: var(--ion-color-gold) !important;
  --ion-color-base-rgb: var(--ion-color-gold-rgb) !important;
  --ion-color-contrast: var(--ion-color-gold-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-gold-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-gold-shade) !important;
  --ion-color-tint: var(--ion-color-gold-tint) !important;
}
