// Action sheet icon styles for font-awesome icons
ion-action-sheet {
  .action-sheet-icon-button::part(icon) {
    display: block !important;
    margin-right: 1rem;
  }
  
  .action-sheet-button-inner {
    justify-content: flex-start;
  }
}
