:root{
  --color-light: #017b32d2;
  --color-medium: #31b666e3;
  --color-dark: #009E3F;
  --color-darkest: #008234;
  --animation-speed: 4s;
  --animation-loop: infinite;
}

.my-tasks {
  ion-card {
    &.item {
      margin: 1em;
      // 100% view height - header - footer toolbar - padding / 2 
      // height: calc((100vh - 120px - 110px - 5em) / 2);
      border-radius: 0 0 65px 65px;
      box-shadow: 
      rgb(0 0 0 / 20%) 0px 3px 1px -2px,
      rgb(0 0 0 / 14%) 0px 2px 2px 0px,
      rgb(0 0 0 / 12%) 0px 1px 5px 0px;

      ion-img {
        margin: .5em auto;
        object-fit: fill;
        // transform: scale(1.15);
        img {
          margin: 1em auto;
          object-fit: fill;
          max-width: 95%;
        }
      }
    }
  }
}

.total-pages{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

ion-modal{
  ion-content{
    // height: calc( 100vh - 44px - 80px )
  }

  ion-img{
    // height: 35vh;
  }
}