.my-portal {
  // temp fix to stop z-index prob with other root ion-pages
  z-index: -1 !important;

  .xp-badge {
    margin: 0;
    display: flex;
    align-content: center;

    ion-progress-bar {
      // margin: 0.2em 0.5em;
      height: 15px;
      border-radius: 0px;
      box-shadow: 0px 0px 5px rgba(var(--ion-color-success-rgb), 0.85);
      border: 0;
      border-top: 1px solid var(--ion-color-success-shade);
      .progress-buffer-bar {
        background: rgba(var(--ion-color-base-rgb), 0.8);
      }
    }

    ion-badge {
      ion-icon {
        border-radius: 5px;
      }
      margin: 0 0.5em 0 0;
      justify-content: space-between;
    }
    // height: 30px;
    flex-direction: row;
    align-content: center;
    justify-content: end;
    background-color: white;
    border-radius: 0px;
    padding: 0em;
    color: rgba(var(--ion-color-dark-rgb),0.5);
    text-shadow: 
      1px 1px 1px var(--ion-color-success-shade),
      ;

    ion-icon {
      color: var(--ion-color-success-contrast);
      font-size: 8px;
      text-shadow: 0px 0px 3px var(--ion-color-success-shade);
    }


    ion-badge {
      background: none;
      margin: -0.20em 1em;
      // width: 90%;
      font-size: x-small;
      display: flex;
      align-items: center;
      height: 18px;
      justify-content: start;
      color: var(--ion-color-success-contrast);
      text-shadow: 0 0px 5px var(--xp-color-success);


      p {
        // margin: 0em;
      }
      ion-icon {
        border-radius: 5px;
        font-size: 13 !important
      }
    }
  }

  ion-fab {
    &.fab-vertical-bottom {
      bottom: 60px;
    }

    &.fab-user {
      width: 500px;
      max-width: 95vw;

      ion-chip {
        box-shadow: 3px 3px 0px;
        width: 100%;
        padding: 1em 15px;

        // text-shadow: 2px 2px 0px black,
        // -2px -2px 0px black;
        i {
          margin: 0.25em;
        }
      }
    }
  }

  .equipment {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    ion-button{
      i{
        // font-size: 10px !important;
      }
    }
  }



  .rpg-box {
    ion-card {
      &.todays-achievements {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
        justify-content: center;
        align-items: center;
        height: 110px;

        i {
          margin: 2em;
        }
      }

      &.equipment {
        ion-buttons {
          display: flex;
          flex-wrap: wrap;
          i {

            width: auto;
            height: auto;
            font-size: inherit;
            margin: 2px 1px 0 2px;
          }
        }
      }
    }
  }

  ion-grid {
    border-radius: 7px;

    &.user-hud,
    &.gp-hud {
      background-color: rgba($color: #000000, $alpha: 0.5);
    }

    &.gp-hud {
      ion-chip {
        width: 50vw;
        max-width: 175px;
      }

      ion-label {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
