@mixin user-hud {
  &comment {
    --fa-primary-color: var(--xp-color-blue);
    --fa-secondary-color: var(--xp-color-green);
    --fa-secondary-opacity: 1;
  }

  &bell-exclamation {
    --fa-primary-color:  var(--xp-color-yellow);
    --fa-secondary-color: var(--xp-color-red);
    --fa-secondary-opacity: 1
  }

  &book-spells {
    --fa-primary-color: var(--xp-color-blue);
    --fa-secondary-color: var(--xp-color-white);
    --fa-secondary-opacity: 1;
  }

  &medal {
    --fa-primary-color: var(--xp-color-yellow);
    --fa-secondary-color: var(--xp-color-green);
    --fa-secondary-opacity: 0.8;
  }

  &backpack {
    --fa-primary-color: var(--xp-color-red);
    --fa-secondary-color: var(--xp-color-red);
    --fa-secondary-opacity: 1;
  }

  &hand-holding-seedling {
    --fa-primary-color: var(--xp-color-green);
    --fa-secondary-color: var(--xp-color-brown);
    --fa-secondary-opacity: 0.9;
  }

  &wallet {
    --fa-primary-color: var(--xp-color-yellow);
    --fa-secondary-color: var(--xp-color-brown);
    --fa-secondary-opacity: 1;
  }

  &save{
    --fa-primary-color: var(--xp-color-gray);
    --fa-secondary-color: var(--xp-color-green);
    // --fa-secondary-opacity: 1;
  }

}
