.icon-colors {
  i {
    &.fa- {
      &paw-claws {
        --fa-primary-color: var(--xp-color-gray);
        --fa-secondary-color: var(--xp-color-brown);
        --fa-secondary-opacity: 0.7;
      }

      &farm {
        --fa-primary-color: var(--xp-color-brown);
        --fa-secondary-color: var(--xp-color-red);
        --fa-secondary-opacity: 0.7;
      }

      &dungeon {
        --fa-primary-color: var(--xp-color-gray);
        --fa-secondary-color: var(--xp-color-red);
        --fa-secondary-opacity: 0.8;
      }

      &campground {
        --fa-primary-color: var(--xp-color-brown);
        --fa-secondary-color: var(--xp-color-green);
        --fa-secondary-opacity: 0.8;
      }

      &compass {
        --fa-primary-color: var(--xp-color-lightBlue);
        --fa-secondary-color: var(--xp-color-blue);
        --fa-secondary-opacity: 1
      }

      &sack {
        --fa-primary-color: var(--xp-color-gray);
        --fa-secondary-color: var(--xp-color-brown);
        --fa-secondary-opacity: 1
      }


      &bug {
        --fa-primary-color: var(--xp-color-red);
        --fa-secondary-color: var(--xp-color-green);
        --fa-secondary-opacity: 1
      }

      &tint {
        --fa-primary-color: var(--xp-color-lightBlue);
        --fa-secondary-color: var(--xp-color-blue);
        --fa-secondary-opacity: 1 --fa-primary-opacity:.9
      }

      &whistle {
        --fa-primary-color: var(--xp-color-white);
        --fa-secondary-color: var(--xp-color-blue);
        --fa-secondary-opacity: 1
      }

    }
  }
}

