@mixin user-hud {
  &heart {
    --fa-primary-color: var(--xp-color-red);
    --fa-secondary-color: var(--xp-color-red);
    --fa-secondary-opacity: 0.8;
  }

  &heartbeat { 
    --fa-primary-color: var(--xp-color-pink);
    --fa-secondary-color: var(--xp-color-red);
    --fa-secondary-opacity: 0.8;
  }

  &comment {
    --fa-primary-color: var(--xp-color-blue);
    --fa-secondary-color: var(--xp-color-green);
    --fa-secondary-opacity: 1;
  }

  &bell-exclamation {
    --fa-primary-color:  var(--xp-color-yellow);
    --fa-secondary-color: var(--xp-color-red);
    --fa-secondary-opacity: 1
  }

  &cauldron {
    --fa-primary-color: var(--xp-color-purple);
    --fa-secondary-color: var(--xp-color-green);
    --fa-secondary-opacity: 1;
  }

  &book-spells {
    --fa-primary-color: var(--xp-color-blue);
    --fa-secondary-color: var(--xp-color-white);
    --fa-secondary-opacity: 1;
  }

  &medal {
    --fa-primary-color: var(--xp-color-yellow);
    --fa-secondary-color: var(--xp-color-green);
    --fa-secondary-opacity: 0.8;
  }

  &backpack {
    --fa-primary-color: var(--xp-color-red);
    --fa-secondary-color: var(--xp-color-red);
    --fa-secondary-opacity: 1;
  }

  &hand-holding-seedling {
    --fa-primary-color: var(--xp-color-green);
    --fa-secondary-color: var(--xp-color-brown);
    --fa-secondary-opacity: 0.9;
  }

  &hand-holding-heart {
    --fa-primary-color: var(--xp-color-red);
    --fa-secondary-color: var(--xp-color-brown);
    --fa-secondary-opacity: 0.9;
  }

  &hand-holding-medical {
    --fa-primary-color: var(--xp-color-pink);
    --fa-secondary-color: var(--xp-color-brown);
    --fa-secondary-opacity: 0.9;
  }

  &hand-holding-water {
    --fa-primary-color: var(--xp-color-blueLight);
    --fa-secondary-color: var(--xp-color-brown);
    --fa-secondary-opacity: 0.9;
  }

  &hand-holding-magic{
    --fa-primary-color: var(--xp-color-blue);
    --fa-secondary-color: var(--xp-color-brown);
    --fa-secondary-opacity: 0.9;
  }
  
  &hand-holding-usd {
    --fa-primary-color: var(--xp-color-yellow);
    --fa-secondary-color: var(--xp-color-brown);
    --fa-secondary-opacity: 0.9;
  }

  &wallet {
    --fa-primary-color: var(--xp-color-yellow);
    --fa-secondary-color: var(--xp-color-brown);
    --fa-secondary-opacity: 1;
  }

  &save{
    --fa-primary-color: var(--xp-color-gray);
    --fa-secondary-color: var(--xp-color-green);
    // --fa-secondary-opacity: 1;
  }

  &sack-dollar{
    --fa-primary-color: var(--xp-color-black);
    --fa-secondary-color: var(--xp-color-green);
    --fa-secondary-opacity: .9;
  }
}
