@use "equipment" as *;
@use "home-town" as *;
@use "icon-colors";
@use "my-home" as *;
@use "user-hud" as *;
@use "world-map" as *;
@use "dungeon" as *;
@use "profile-icons" as *;

.icon-colors {
  i {
    &.fa- {
      @include equipment;
      @include home-town;
      @include my-home;
      @include user-hud;
      @include world-map;
      @include dungeon;
      @include profile-icons;
    }
  }
}
