.world-desert{
  ion-content{
    --background: url("@/assets/images/backgrounds/world-desert.jpg") center center/cover no-repeat;
  }



}

  .fa- {
    &place-of-worship {
      --fa-primary-color: var(--xp-color-white);
      --fa-secondary-color: var(--xp-color-brown);
      --fa-secondary-opacity: 1
    }
  }