.world-desert{
  ion-content{
    --background: url("@/assets/images/backgrounds/world-desert.jpg") center center/cover no-repeat;
  }

  // Sandstorm container
  .sandstorm-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
  }

  // Sand overlay that creates the hazy atmosphere
  .sand-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(210, 180, 140, 0.2);
    z-index: 2;
    animation: sandstorm-intensity 15s ease-in-out infinite;
  }

  @keyframes sandstorm-intensity {
    0%, 100% { 
      background-color: rgba(210, 180, 140, 0.2);
    }
    50% { 
      background-color: rgba(210, 180, 140, 0.4);
    }
  }

  // Individual sand particles
  .sand-particles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
  }

  .sand-particle {
    position: absolute;
    background-color: rgba(210, 180, 140, 0.7);
    border-radius: 50%;
    filter: blur(1px);
    z-index: 3;
    animation: sand-drift linear infinite;
    
    @for $i from 1 through 30 {
      &:nth-child(#{$i}) {
        $size: random(4) + 1 + px;
        $top: random(100) * 1%;
        $left: -10px;
        $duration: random(6) + 4 + s;
        $delay: random(10) * 0.5s;
        
        width: $size;
        height: $size;
        top: $top;
        left: $left;
        opacity: random(6) * 0.1 + 0.4;
        animation-duration: $duration;
        animation-delay: $delay;
      }
    }
  }

  @keyframes sand-drift {
    0% {
      transform: translateX(0) translateY(0);
    }
    25% {
      transform: translateX(25vw) translateY(15vh);
    }
    50% {
      transform: translateX(50vw) translateY(-10vh);
    }
    75% {
      transform: translateX(75vw) translateY(20vh);
    }
    100% {
      transform: translateX(calc(100vw + 10px)) translateY(0);
    }
  }

  // Dust clouds
  .dust-cloud {
    position: absolute;
    background: rgba(210, 180, 140, 0.3);
    border-radius: 50%;
    filter: blur(15px);
    opacity: 0;
    z-index: 2;
    animation: dust-cloud-move ease-in-out infinite;
    
    &.dust-cloud1 {
      width: 200px;
      height: 150px;
      top: 30%;
      left: -250px;
      animation-duration: 25s;
      animation-delay: 0s;
    }
    
    &.dust-cloud2 {
      width: 300px;
      height: 200px;
      top: 10%;
      left: -300px;
      animation-duration: 35s;
      animation-delay: 8s;
    }
    
    &.dust-cloud3 {
      width: 250px;
      height: 180px;
      top: 50%;
      left: -280px;
      animation-duration: 30s;
      animation-delay: 15s;
    }
    
    &.dust-cloud4 {
      width: 350px;
      height: 250px;
      top: 65%;
      left: -350px;
      animation-duration: 40s;
      animation-delay: 5s;
    }
  }

  @keyframes dust-cloud-move {
    0% {
      transform: translateX(0);
      opacity: 0;
    }
    10% {
      opacity: 0.7;
    }
    90% {
      opacity: 0.7;
    }
    100% {
      transform: translateX(calc(100vw + 400px));
      opacity: 0;
    }
  }
}

.fa- {
  &place-of-worship {
    --fa-primary-color: var(--xp-color-white);
    --fa-secondary-color: var(--xp-color-brown);
    --fa-secondary-opacity: 1
  }
}