.xp-settings-home{
  ion-content{
    --background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    ion-thumbnail{
      max-width: 100px !important;
      min-width: 75px !important;
      min-height: 75px !important;
    }
  }
}
